@model DESDrawing.Models.District
@{
    ViewBag.Title = "DistrictList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-6 align-self-center">
            <h3 class="text-themecolor font-20 clearfix">District List</h3>
        </div>

        <div class="pbutton" style="width: 50%;">
            <div class="right text-right">
                <a href="/Master/AddDistrict" id="btnAdd" class="btn btn-success btn-sm">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add District
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                @{
                    string Code = (string)TempData["code"];
                    string msg = (string)TempData["Msg"];
                    if (!string.IsNullOrEmpty(Code))
                    {
                        if (Code == "1")
                        {
                            <div class="alert alert-success msgdiv">
                                <strong>Success!</strong> @msg
                            </div>
                            <script type="text/javascript">
                                window.setTimeout(function () {
                                    location.href = '/Master/DistrictList';
                                }, 3000);
                            </script>
                        }
                        else
                        {
                            <div class="alert alert-danger msgdiv">
                                <strong>Error!</strong> @msg
                            </div>
                        }
                    }
                }
            </div>
        </div>


        <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                        </div>
                        <div class="table">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <tr role="row" class="bg-secondary">
                                            <th>S.No</th>
                                            <th>Zone Name</th>
                                            <th>District Name</th>
                                            <th>Edit</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.List != null)
                                        {
                                            var sn = 1;
                                            foreach (var item in Model.List)
                                            {
                                                <tr role="row" class="odd">
                                                    <td>@sn</td>
                                                    <td>@item.ZoneName</td>
                                                    <td>@item.DistrictName</td>
                                                    <td class="">
                                                        <a href="/Master/AddDistrict?ID=@item.ID" title="Edit"><i class="fa fa-pencil"></i> </a>
                                                    </td>
                                                    <td>
                                                        @if (item.Isactive != false)
                                                        {
                                                            <a href="/Master/ChangeDistrictStatus?Isactive=false&ID=@item.ID" title="" name="Isactive" value="false"><span class=" p-1 badge-success">Active</span> </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Master/ChangeDistrictStatus?Isactive=true&ID=@item.ID" title="" name="Isactive" value="true"><span class=" p-1 badge-danger">In-Active</span> </a>
                                                        }

                                                    </td>
                                                </tr>
                                                sn++;
                                            }

                                        }

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer"> Developed by Uttar Pradesh Vidhut Suraksha. Copyright ©20 U.P. All Rights Reserved Directorate of Electrical Safety </footer>

</div>

