@model HRPayroll.Models.Circle
@{
    ViewBag.Title = "AddCircle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="container-fluid">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row page-titles">
                    <div class="col-md-12 align-self-center">
                        <h3 class="text-themecolor font-20 clearfix">Add Circle</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        @{
                            string Code = (string)TempData["code"];
                            string msg = (string)TempData["Msg"];
                            if (!string.IsNullOrEmpty(Code))
                            {
                                if (Code == "1")
                                {
                                    <div class="alert alert-success msgdiv">
                                        <strong>Success!</strong> @msg
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-danger msgdiv">
                                        <strong>Error!</strong> @msg
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-outline-info">
                            <div class="card-body">
                                <form action="/Master/AddCircle" method="post" onsubmit="return validateForm()">
                                    <div class="form-body">

                                        <div class="row p-t-20">
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">
                                                        Enter Circle Name<span class="text-danger">*</span>
                                                    </label>
                                                    @Html.TextBoxFor(M => M.CircleName, new { @class = "form-control", @placeholder = "Enter Circle Name", @maxlength = "50", @onkeypress = "checkAlphabet(event)" })
                                                    @Html.HiddenFor(m => m.ID)
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        @if (Model.ID > 0)
                                        {
                                            <button class="btn btn-success hstheme-button-o text-white">
                                                <i class="fa fa-check"></i>
                                                Update
                                            </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-success hstheme-button-o text-white">
                                                <i class="fa fa-check"></i>
                                                Submit
                                            </button>
                                        }

                                        <a href="/Master/CircleList" class="btn btn-danger hstheme-button-o text-white">
                                            <i class="fa fa-crosshairs"></i>
                                            Cancel
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function validateForm() {
        if ($('#CircleName').val() == '' || $('#CircleName').val() == '0') {
            swal("", "Please Enter Circle Name..", "warning");
            $('#CircleName').focus();
            return false;

        }
    }

    function checkAlphabet(event) {
        debugger;
        if (event.charCode != 0) {
            var regex = new RegExp("^[a-zA-Z\\s]*$");
            var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
            if (!regex.test(key)) {
                event.preventDefault();
                return false;
            }
        }
    }
</script>

