@model HRPayroll.Models.Division
@{
    ViewBag.Title = "AddDivision";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    <div class="container-fluid">
        <div class="page-wrapper">
            <div class="row page-titles">
                <div class="col-md-12 align-self-center">
                    <h3 class="text-themecolor font-20 clearfix">Add Division</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @{
                        string Code = (string)TempData["code"];
                        string msg = (string)TempData["Msg"];
                        if (!string.IsNullOrEmpty(Code))
                        {
                            if (Code == "1")
                            {
                                <div class="alert alert-success msgdiv">
                                    <strong>Success!</strong> @msg
                                </div>
                                <script type="text/javascript">
                                    window.setTimeout(function () {
                                        location.href = '/Master/AddDivision';
                                    }, 3000);

/**/</script>
                            }
                            else
                            {
                                <div class="alert alert-danger msgdiv">
                                    <strong>Error!</strong> @msg
                                </div>
                            }
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline-info">
                        <div class="card-body">
                            <form action="/Master/AddDivision" method="post" id="FormSubmit" onsubmit="return ValidateForm();">
                                <div class="form-body">

                                    <div class="row p-t-20">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Select Mandal<span class="text-danger">*</span>
                                                </label>
                                                @Html.DropDownListFor(model => model.FK_MandalId, new SelectList(ViewBag.Mandal, "Value", "Text"), "-Select Mandal-", new { @class = "form-control" })
                                                @Html.HiddenFor(model => model.ID)
                                                @Html.HiddenFor(model => model.FK_MandalId)

                                            </div>
                                        </div>
                                        <!--/span-->
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Division Name<span class="text-danger">*</span>
                                                </label>
                                                @Html.TextBoxFor(M => M.DivisionName, new { @class = "form-control", @placeholder = "Enter Division Name", @maxlength = "50" })

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-actions">
                                    @if (Model.ID > 0)
                                    {
                                        <button class="btn btn-success hstheme-button-o text-white">
                                            <i class="fa fa-check"></i>
                                            Update
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-success hstheme-button-o text-white">
                                            <i class="fa fa-check"></i>
                                            Submit
                                        </button>
                                    }

                                    <a href="/Master/DivisionList" class="btn btn-danger hstheme-button-o text-white">
                                        <i class="fa fa-crosshairs"></i>
                                        Cancel
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>



        </div>
    </div>

<script>

    function ValidateForm() {
        debugger;
        if ($('#FK_MandalId').val() == '' || $('#FK_MandalId').val() == '0') {
            swal("", "Please Select Mandal..", "warning");
            $('#FK_MandalId').focus();
            return false;

        }
        if ($('#DivisionName').val() == '' || $('#DivisionName').val() == '0' || $('#DivisionName').val() == null) {
            swal("", "Please Enter Division Name..", "warning");
            $('#DivisionName').focus();
            return false;
        }
        else {
            return true;
            $("#FormSubmit").submit();
        }
    }

</script>

