@model HRPayroll.Models.Desigation
@{
    ViewBag.Title = "DesignationList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-wrapper">
        <div class="block-header py-2">
            <div class="row page-titles">
                <div class="col-md-6 align-self-center">
                    <h3 class="text-themecolor font-20 clearfix">Designation List</h3>
                </div>

                <div class="col-md-6">
                    <div class="pbutton" style="text-align: right">
                        <div class="right text-right">
                            <a href="/Master/Desigation" id="btnAdd" class="btn btn-success btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add Designation
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    @{
                        string Code = (string)TempData["code"];
                        string msg = (string)TempData["Msg"];
                        if (!string.IsNullOrEmpty(Code))
                        {
                            if (Code == "1")
                            {
                                <div class="alert alert-success msgdiv">
                                    <strong>Success!</strong> @msg
                                </div>
                                <script type="text/javascript">
                                    window.setTimeout(function () {
                                        location.href = '/Master/DesignationList';
                                    }, 3000);
                                </script>
                            }
                            else
                            {
                                <div class="alert alert-danger msgdiv">
                                    <strong>Error!</strong> @msg
                                </div>
                            }
                        }
                    }
                </div>

                <div class="col-md-12">


                    <div class="card">
                        <div class="card-body">
                            <div class="table">
                                <div class="table-responsive">
                                    <table class="table table-striped dataTable">
                                        <thead id="tbl">
                                            <tr role="row" class="bg-secondary">
                                                <th>S.No</th>
                                                <th>Designation Name</th>
                                                <th> Designation Code</th>
                                                <th>Action</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.Desigationlist != null)
                                            {
                                                if (Model.Desigationlist.Count() > 0)
                                                {
                                                    var Sn = 0;
                                                    foreach (var item in Model.Desigationlist)
                                                    {
                                                        Sn = Sn + 1;
                                                        <tr role="row" class="odd">
                                                            <td>  @Sn</td>
                                                            <td> @item.DesignationName </td>
                                                            <td> @item.Code </td>

                                                            <td>
                                                                <a href="/Master/Desigation?Id=@item.DesignationId" title="Edit"><i class="fa fa-pencil"></i> </a>
                                                            </td>
                                                            <td>
                                                                @if (item.IsActive == 0)
                                                                {
                                                                    <a href="/Master/ChangeDesigationStatus?Isactive=1&ID=@item.DesignationId" title="" name="Isactive" value="false"><span class=" p-1 badge-success">Active</span> </a>
                                                                }
                                                                else
                                                                {
                                                                    <a href="/Master/ChangeDesigationStatus?Isactive=0&ID=@item.DesignationId" title="" name="Isactive" value="true"><span class=" p-1 badge-danger">In-Active</span> </a>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                            }

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

