
@model HRPayroll.Models.EmpLogin

@{
    ViewBag.Title = "EmpChangePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    #btn {
        background: #f68c1f;
        border: 1px solid #c4295e;
    }
</style>

<div class="row justify-content-center">
    <div class="col-lg-5 col-md-8">
        <img src="~/assets/images/logo-dark.png" height="44" class="mx-auto d-block" alt="">
        <div class="card login-page bg-white shadow mt-4 rounded border-0">
            <div class="card-body">
                <h4 class="text-center">Change Password</h4>
                <form method="post" class="login-form mt-4" onsubmit="return validateForm()">
                    <div class="row  mx-4">
                        <div class="row">
                            <div class="col-sm-12">
                                @{
                                    string Code = (string)TempData["code"];
                                    string msg = (string)TempData["Msg"];
                                    if (!string.IsNullOrEmpty(Code))
                                    {
                                        if (Code == "1")
                                        {
                                            <div class="alert alert-success msgdiv" id="msgdiv">
                                                <strong>Success!</strong> @msg
                                            </div>
                                            <script type="text/javascript">
                                                window.setTimeout(function () {
                                                    location.href = '/Account/EmployeeLogin';
                                                    //$('#msgdiv').hide();
                                                }, 5000);
                                            </script>
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger msgdiv">
                                                <strong>Error!</strong> @msg
                                            </div>
                                        }
                                    }
                                }
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Old Password</label>
                                @Html.TextBoxFor(Model => Model.OldPassword, new { @class = "form-control", @placeholder = "Old Password", @type = "password" })
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>New Password</label>
                                @Html.TextBoxFor(Model => Model.NewPassword, new { @class = "form-control", @placeholder = "New Password", @type = "password" })
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                @Html.TextBoxFor(Model => Model.ConfirmPassword, new { @class = "form-control", @placeholder = " Confirm Password ", @type = "password" })
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="d-grid">
                                <button class="btn btn-danger" id="btn">Change Password</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><!---->
    </div> <!--end col-->
</div>

<script>
    function validateForm() {
        if ($('#OldPassword').val().trim() == '') {
            swal("", "Please enter Old Password.", "warning");
            $('#OldPassword').focus();

            return false;
        }
        if ($('#NewPassword').val().trim() == '') {
            swal("", "Please enter New Password.", "warning");
            $('#NewPassword').focus();
            return false; s
        }
        if ($('#ConfirmPassword').val().trim() == '') {
            swal("", "Please enter Confirm Password.", "warning");
            $('#ConfirmPassword').focus();
            return false;
        }

    }

</script>

